*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	height:100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: #f3f3f3;
}
.header{
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	/* align-items: center; */
	justify-content: space-between;
	background-color: #24292E;
	
	/* background-image: url(../images/025.jpg);
	 */background-size: cover; 

}
.main-header{
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	 align-items: center; 
	justify-content: space-between;
	/* background-color: #fcfcfc; */

}
.logo{
	font-family: arial, Halvetica, sans-serif;
	font-size: 1rem;
	color: #fff;
	margin: 1rem; 

}
.navigation{
	display: flex;
}
.navigation-list{
	display: flex;
	list-style: none;

}
.nav-link{
	padding: 0 1rem 0 1rem; 
	font-family: arial, Halvetica, sans-serif;
	font-size: 1rem;
	color: #252954;
}
.nav-link a{
	text-decoration: none; 
	color: #fff;
}
.nav-link a:hover{
	text-decoration: underline;
	font-weight: bold; 
    font-size: 1.3em;
    transform: scale(0,1,0,1);
    color: #f39c12; 
}
.search{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	border-bottom: 2px solid #353b48; 
}
.form{
	width: 500px; 
	height: 100px;
		
}
.form input{
	width: 100%;
	padding: 15px;
	text-transform: uppercase;
	font-weight: bold;


}
.button01{
	width: 200px; 
	height: 100px;
	/*position: relative;
	left: -199px;
	top: 90px;*/

}
.button01 button{
	width: 100%;
	height: 50%;
}
.button01 button:hover{
	background: none;
	color: #fff;		 
}
.mid-section{
	width: 1200px;
}
.souscat{
	height: 150px;
	margin-top: 10px; 
	/* display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	 align-items: center; 
	justify-content: space-between; */
	margin-bottom: 10px; 
}
.souscat h2{
	font-size: 2.1rem;
    font-weight: bold;

}
.souscat ul{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	
}
.souscat ul li{

	list-style: none;

}
.souscat ul li a{
	text-decoration: underline;
	color: #252954;
	padding-left: 10px;  


}
.site{
	width: 750px;
	/* height: 900px; */ 
	/* border:2px solid #ccc; */
}
.site h1{
	color: #252954;
	text-decoration: underline;
}
.com{
	height: 250px;
	/* border: 1px solid #252954;
	 */display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
	padding-bottom:  15px;
	text-align: justify-all;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: #252954;
	background-color: #fff;

}
.com figure{
	border:1px solid #ccc;
	margin-right: 5px;
	text-align: center;
	color: #252954;
}
.com figure img{
	width: 280px; 
	height: 150px;
}
.com article h2{
	text-decoration: underline;
	margin-bottom: 10px;

}

.footer{
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* height:220px; */
	background-color: #24292E; 
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid  #252954; 
	/* background-image: url(../images/025.jpg);
	background-size: cover;
	 */
	line-height: 1.5; 

}
.menu{
    width: 400px;
    /* margin: 5px; */ 
    /* border-right: 1px solid #fff;
    border-left:  1px solid #fff;
     */
    color: #6d7078;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    height: 250px;
}
.menu-header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
.menu-header b {
/* text-align:center; */
/* margin: 30px; */  
text-decoration: none;
font-size: 1rem; 
font-family: 'Oswald', sans-serif;
padding-left: 15px;
}
.menu-navigation {
	width: 300px;
    height:250px;
   /* padding: 5px; */
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-flow: column wrap;
   margin-left: 70px;
 }
/* .menu-navigation ul li{
   width: 80px; 
   list-style: none;
   padding:5px;
   text-align: center; 
   padding-left: 26px;
   padding-bottom: 5px; 
   
} */
.menu-navigation  a{
    text-decoration: none;
    padding: 1px;
    font-size: 0.9rem;
    /* font-weight: bold; */
    font-family: 'Oswald', sans-serif;
    color: #6d7078;
    padding-bottom: 5px;
 

}
.menu-navigation a:hover{
	text-decoration: underline;
	color: #d35400; 
}
.propos-navigation{
    width: 300px;
    height:250px; 
    /* margin: 3px; */ 
    border-right: 1px solid #fff;;
    color: #6d7078;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    padding-left: 5px;
}
.propos-navigation a{
    text-decoration: none;
    color: #fff;
    padding: 1px;
    font-size: 0.9rem;
    /* font-weight: bold; */
    font-family: 'Oswald', sans-serif;
    color: #6d7078;
    padding-bottom: 5px;

}
.propos-navigation a:hover{
	text-decoration: underline;
	color: #d35400;
}
.propos-header{
	margin-bottom: 1rem; 
}
.propos-header b{
text-decoration: none;
font-size: 1rem; 
font-family: 'Oswald', sans-serif;
color: #6d7078;
margin-bottom: 1rem;
}
.footer .lg{
margin-top: 10px; 
margin-left: 150px;
}